[Unit]
Description=shadowsocks server daemon
Documentation=man:ss-local

[Service]
ExecStart=/usr/sbin/bash /home/gaffey/.config/privarcy/PreLogin
ExecStop=-/bin/killall ss-local
ExecReload=-/bin/killall ss-local;/usr/sbin/bash /home/gaffey/.config/privarcy/PreLogin 

[Install]
WantedBy=multi-user.target
