[Unit]
Description=shadowsocks server daemon
Documentation=man:ss-local

[Service]
Type=oneshot
ExecStart=/home/gaffey/.config/privarcy/PreLogin
ExecStop=/bin/pkill -F /tmp/ss-local.pid

[Install]
WantedBy=multi-user.target
