appdirs==1.4.3
backcall==0.1.0
beautifulsoup4==4.6.3
btrfsutil==1.1.0
CacheControl==0.12.5
certifi==2018.8.24
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.3.0
distlib==0.2.8
distro==1.3.0
future==0.16.0
graphviz==0.8.4
html5lib==1.0.1
idna==2.7
ipython==7.2.0
ipython-genutils==0.1.0
jedi==0.13.2
kiwisolver==1.0.1
lockfile==0.12.2
lxml==4.2.5
matplotlib==3.0.0
mpg123==0.4
msgpack==0.6.0
mxnet==1.3.1
mxnet-mkl==1.3.0.post0
NetEase-MusicBox==0.2.5.4
networkx==2.2
numpy==1.16.0
packaging==18.0
parso==0.3.1
pep517==0.5.0
pexpect==4.6.0
pickleshare==0.7.5
progress==1.4
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycairo==1.18.0
pycryptodomex==3.7.2
Pygments==2.3.1
PyGObject==3.30.4
pygraphviz==1.5
pyparsing==2.3.1
python-dateutil==2.7.3
pytoml==0.1.20
pyxdg==0.26
requests==2.21.0
requests-cache==0.4.13
requirements==0.1
retrying==1.3.3
simplegeneric==0.8.1
six==1.12.0
team==1.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
xdot==0.9
yapf==0.25.0
ydcv==0.6.1
youtube-dl==2019.1.17
